@import url(./animations.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #001e3c;
    font-family: poppins, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task_form {
    background-color: green;
}

.task_heading, .task_form, .author_info {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task_heading {
    display: flex;
    justify-content: flex-start;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #fff;
    margin: 10px 0;
    text-shadow: 1px 1px 10px #8b0eff;
    padding-left: 20px;
}

.task_form {
    height: 45px;
    margin: 20px 0;
    box-shadow: 0px 0px 8px #E0C3FC;
    overflow: hidden;
}

.author_info {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
}

.author_info__link {
    text-decoration: none;
    padding: 10px;
    color: white;
    text-shadow: 0px 0px 30px #007efc;
}

.author_info__link:nth-child(1) {
    color: white;
    box-shadow: none;
    font-size: 20px;
    padding-right: 20px;
}

.task_input {
    flex: 1;
    height: 100%;
    padding: 0 12px;
    outline: none;
    border: 0;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}

.task_input::placeholder{
    font-weight: 700;
    opacity: 0.75;
    letter-spacing: 2px;
    text-transform: lowercase;
}

.task_submit {
    height: 100%;
    border: none;
    cursor: pointer;
    background-color: white;
    color: #0b85ff;
    font-size: large;
    padding: 0 20px;
}

.tasks_container {
    position: sticky;
    top: 100px;
    width: 480px;;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}


.task, .task__completed {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color:#fff;
    margin: 10px 0;
    animation: mount 0.5s ease-out;
    overflow: hidden;
}

.task__completed {
    opacity: 0.4;
}

/* .task__name {
    text-decoration: line-through;
} */

.task__name {
    flex: 1;
    padding: 0 10px;
    font-size: 14px;
    text-transform: capitalize;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

li i {
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
}

.task__check_icon{
    background-color: rgb(0, 176, 0);
    transition: all 0.3s ease-in-out;
}

.task__check_icon:hover{
    background-color: rgb(0, 255, 0);
}


.task__delete_icon {
    background-color: rgb(255, 101, 101);
}

.task__delete_icon:hover{
    background-color: rgb(199, 0, 0);
}
