* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #001e3c;
    /* background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);  */
    font-family: poppins, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
  }

.container {
    position: relative;
    width: 100vw;
    /* width: 480px; */
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form{
    background-color: green;
}

h3, form, nav {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {display: flex;
    justify-content: flex-start;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #fff;
    margin: 10px 0;
    text-shadow: 1px 1px 10px #8b0eff;
    padding-left: 20px;
}

form{
    height: 45px;
    margin: 20px 0;
    box-shadow: 0px 0px 8px #E0C3FC;
    /* border: 3px solid #8EC5FC; */
    /* border-radius: 10px; */
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
}

nav a{
    text-decoration: none;
    padding: 10px;
    color: white;
    text-shadow: 0px 0px 30px #007efc;
}

nav a:nth-child(1) {
    color: white;
    box-shadow: none;
    font-size: 20px;
    padding-right: 20px;
}

 

form input {
    flex: 1;
    height: 100%;
    padding: 0 12px;
    outline: none;
    border: 0;
    /* border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; */
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}

form input::placeholder{
    font-weight: 700;
    opacity: 0.75;
    letter-spacing: 2px;
    text-transform: lowercase;
}

form button {
    height: 100%;
    border: none;
    cursor: pointer;
    background-color: white;
    color: #0b85ff;
    font-size: large;
    padding: 0 20px;
    /* border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */
}

ul {
    position: sticky;
    top: 100px;
    width: 480px;;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}


.todo, .todo__completed {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color:#fff;
    margin: 10px 0;
    animation: mount 0.5s ease-out;
    /* border-radius: 10px; */
    overflow: hidden;
}

.todo__completed{
    opacity: 0.4;
}

.todo__completed > span{
    text-decoration: line-through;

}

.todo__text{
    flex: 1;
    padding: 0 10px;
    font-size: 14px;
    text-transform: capitalize;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

li i {
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
}

.todo__check-icon{
    background-color: rgb(0, 176, 0);
    transition: all 0.3s ease-in-out;
}

.todo__check-icon:hover{
    background-color: rgb(0, 255, 0);
}


.todo__delete-icon{
    background-color: rgb(255, 101, 101);
}

.todo__delete-icon:hover{
    background-color: rgb(199, 0, 0);
}

@keyframes unmount {
    0% {
        transform: scale(1.0);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes unmount_forward {
    0% {
        transform: scale(1.0);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes mount {
    0% {
        transform: scale(0);
    }
    40% {
        transform: scale(1.1);
    }
    60% {
        transform: scale(0.9);
    }
    80% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes mountAsCompleted {
    0% {
        transform: scale(0);
    }
    40% {
        transform: scale(1.1);
    }
    60% {
        transform: scale(0.9);
    }
    80% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1);
    }
}
/* 
.todo__deleted{
    animation: unmount_forward 0.25s ease-out;
} */